@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Work_Sans';
}

@font-face {
  font-family: 'Work_Sans';
  src: url('../public/Work_Sans/WorkSans-VariableFont_wght.ttf');
}
